h1 {
  color: whitesmoke;
  text-align: center;
}
.th1 {
  color: whitesmoke;
  text-align: justify;
}

.contenido {
  width: 100%;
  opacity: 0.7;
  #indicativo {
    width: 60%;
    margin: auto;
    .indicativo {
      margin: auto;
      width: 40%;
      text-align: center;
    }
  }
  #pais {
    width: 80%;
    //margin: auto;
    .pais {
      margin: auto;
      width: 100%;
      text-align: center;
    }
  }
  #casos {
    width: 80%;
    margin: auto;
    .casos {
      margin: auto;
      width: 60%;
      text-align: center;
    }
  }
  #mortalidad {
    width: 80%;
    margin: auto;
    .mortalidad {
      margin: auto;
      width: 60%;
      text-align: center;
    }
  }
  #muertes {
    width: 80%;
    margin: auto;
    .muertes {
      margin: auto;
      width: 60%;
      text-align: center;
    }
  }
}
