<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
  crossorigin="anonymous"
/>

<br />
<h1>LISTADO DE PAISES</h1>
<h5>ORGANIZADO POR EL MAYOR NÚMERO DE CASOS AL MENOR</h5>
<br />

<div class="container" style="text-align: center;">
  <div class="card">
    <div class="card-body">
      <h5 class="text-black" style="color: black;">Categorias paises</h5>
      <p class="card-text">Rojo: primeros 50 paises de la lista <br> Amarillo: pasies del 51 al 150. <br> Verde: paises en 150 a 211 <br> Negro: paises con menos de 50 casos confimados</p>
      <button type="button" class="btn btn-primary">Button</button>
    </div>
  </div>
</div>

<div class="container scrollx">
  <div class="row">
    <div *ngFor="let producto of productosEncontrados">
      <div
        class="card text-white mb-3"
        [ngClass]="{
          'bg-danger': producto.indicativo <= '50',
          'bg-warning':
            producto.indicativo > '50' && producto.indicativo <= '150',
          'bg-success': producto.indicativo > '150',
          'bg-dark': producto.casos <= '50'
        }"
        style="max-width: 18rem;"
      >
        <div class="card-block textoalienar">
          <div class="pd-5">
            <h4 class="card-title">{{ producto.pais }}</h4>
            <h6 class="card-subtitle mb-2">
              Total de casos: {{ producto.casos }}
            </h6>
            <p class="card-text">
              Ocupando la posición # {{ producto.indicativo }}
            </p>
            <p class="card-text">
              Su numero total de muertes es:<br />
              <i style="text-align: center;">{{ producto.muertes }}</i>
            </p>
            <a class="card-link"
              >El covid representa una mortalidad del:
              {{ producto.mortalidad }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
