.conte{
  width: 100%;
  .infor{
    border: 2px whitesmoke ridge;
    width: 50%;
    margin: auto;
    padding: 5px;
  }
}

main{
  background-image: url("https://previews.123rf.com/images/grandeduc/grandeduc1509/grandeduc150900013/44574854-globos-biohazard-3d-rinden-de-globos-con-s%C3%ADmbolo-de-riesgo-biol%C3%B3gico.jpg");
  box-sizing: border-box;
 background-attachment: fixed;
  height: 100%;
  }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid .text {
  padding: 20px;
}


.bgr{
  
  -webkit-box-shadow: inset -1px 0px 27px 5px rgba(255,0,0,1);
  -moz-box-shadow: inset -1px 0px 27px 5px rgba(255,0,0,1);
  box-shadow: inset -1px 0px 27px 5px rgba(255,0,0,1);
  background-color: #000;
}

.bgw{
  -webkit-box-shadow: inset -1px 0px 27px 5px rgb(255, 247, 0);
  -moz-box-shadow: inset -1px 0px 27px 5px rgba(255, 247, 0);
  box-shadow: inset -1px 0px 27px 5px rgba(255, 247, 0);
  background-color: #000;
  
}


.bgv{
  -webkit-box-shadow: inset -1px 0px 27px 5px rgb(0, 255, 21);
  -moz-box-shadow: inset -1px 0px 27px 5px rgb(0, 255, 21);
  box-shadow: inset -1px 0px 27px 5px rgb(0, 255, 21);
  background-color: #000;
}


.bgd{
  -webkit-box-shadow: inset -1px 0px 27px 5px rgba(255,255,255,1);
  -moz-box-shadow: inset -1px 0px 27px 5px rgba(255,255,255,1);
  box-shadow: inset -1px 0px 27px 5px rgba(255,255,255,1);
  background-color: #000;
}


@media (max-width: 1000px){
  .conte{
    width: 100%;
    .infor{
      border: 2px whitesmoke ridge;
      width: 95%;
      margin: auto;
      padding: 5px;
    }
  }
 
}