<main>
  <br />
  <div class="conte">
    <div style="background: black; font-family: Verdana;" class="card infor">
      <div style="color: whitesmoke;" class="card-block text-center">
        <h4 class="card-title">Datos mundiales Sars-cov-2</h4>
        <p class="card-text">
          Rojo: primeros 50 paises de la lista <br />
          Amarillo: pasies del 51 al 150. <br />
          Verde: paises en 150 a 211 <br />
          Blanco: Menos de 50 casos confimados
        </p>
      </div>
      <button
        type="button"
        class="btn btn-outline-success"
        (click)="mostrarProducto()"
      >
        MOSTRAR DATOS MUNDIALES SARS COV 2
      </button>
    </div>
  </div>

  <br />

  <div class="container">
    <main class="grid">
      <div *ngFor="let producto of productosEncontrados">
        <!-- Comienzo ngFor -->

        <!-- Inicio de la carta -->
        <article 
        style="font-family: verdana;"
          [ngClass]="{
            bgr: producto.indicativo <= '50',
            bgw: producto.indicativo > '50' && producto.indicativo <= '150',
            bgv: producto.indicativo > '150',
            bgd: producto.casos <= '50'
          }"
        >
          <div class="text text-center text-white">
            <h3 style="font-family: fantasy; font-size: 30px;">{{ producto.pais }}</h3>
            
              <i style="font-size: 15px;"  class="card-subtitle mb-2">
                Total de casos: <br />{{ producto.casos }}
              </i>
              <br>
              <br />
              <i style="font-size: 15px;" class="card-text">
                Ocupando la posición # {{ producto.indicativo }}
              </i>
              <br>
              <br />
              <i style="font-size: 15px;" class="card-text">
                Su número total de muertes es: 
                <br>
                {{ producto.muertes }}
              </i>
              <br>
              <br />
              <i style="font-size: 15px;" class="card-text"
                >El covid representa una mortalidad del:
                <br>
                {{ producto.mortalidad }}</i
              >
            
          </div>
        </article>

        <!-- Fin -->
        <!-- Fin del ngFor -->
      </div>
    </main>
  </div>
</main>
