main{
  background-image: url("../../../assets/fondos/f2168dfb-bd2e-4a22-9250-ef2c1d8e2d35.jpg");
  background-attachment: fixed;
  background-size: contain;
} 
/* for demo purposes */
.carta1{
  width: 100%;
  .h12w{
    width: 50%;
    margin: auto;
  }
}
.conte{
  width: 30%;
}
.card {
    margin: 10px 10px;
  opacity: 0.8;
}

/* Flip Cards CSS */
.card-container {
  display: grid;
  perspective: 700px;
}

.scrollx{
  width: 100%;
// height: 1000px;

}

h1, h5 {
text-align: center;
color: whitesmoke ;
}

.textoalienar{
text-align: center;
}
