@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

html, body{
  height: 100%;
  min-height: 100%;
  margin: 0;
	background: black;
	font-family: 'Chakra Petch', sans-serif;
	color: #ffffff;
	padding: 15px;
	overflow-x: hidden;
	max-width: 100%;
}

.board-wrapper {
	display: flex;
	justify-content: center;
}
.backlight {
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 66px 6px #A51414;
  animation: shadow 1.75s infinite ease;
}
h2 {
  text-align: center;
	margin-bottom: 50px;
}

.board {
  position: relative;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
	background: #000900;
}

#score {
	top: 50;
	left: 50;
	position: absolute;
	.alive{
  	color: #0f0;
	}
	.scoreSunk {
  	color: #f00;
	}
}

#messageArea {
  color: #53af13;
  position: absolute;
  top: 50px;
  left: 50px;
}

#p1-grid-table {
	border: 2px solid #00e500;
	z-index: 2;
}

#p1-grid-table td {
  height: 3em;
  width: 3em;
  border: 1px solid rgba(0,229,0, .3);
  text-align: center;
  cursor: pointer;
}

#p1-grid-table td.hit {
  background: #490000;
}

#p1-grid-table td.miss {
  background: rgba(255,255,255,0.5);
}

#p1-grid-table td.sunk {
  background: #a00000;
}
.ring {
	position: absolute;
	border-radius: 100%;
	border: 2px solid rgba(119,255, 34, 0.3);
}
.ring1 {
			top: 0;	
	height: 100%;
	width: 100%
}
.ring2 {
	top: 10%;	
	height: 80%;
	width: 80%;
}
.ring3 {
	top: 20%;	
	height: 60%;
	width: 60%
}
.signal {
	position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 50%;
  will-change: transform;
  transform-origin: 50% 100%;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-image: linear-gradient(135deg, 
    rgba(107, 244, 66, 0.8) 0%, 
    rgba(0, 0, 0, 0.02) 70%,
    rgba(0, 0, 0, 0) 100%
    );
		will-change: transform;
	// clip-path: polygon(100% 0, 
	// 100% 10%, 
	// 50% 100%, 0 100%, 0 0);
	  animation: rotate360 3s infinite linear;
	&:after {
		content: '';
		position: absolute;
		width: 50%;
		bottom: -1px;
		border-top: 2px solid rgba(119,255, 34, 0.8);
		border-radius: 9px;
		box-shadow: 0 0 3px rgba(80, 220, 34, 0.6);
	}
}
th {
	color: white;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes shadow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
