<p>batalla works!</p>
<div class="wrapper">
    <h2>Battling Ships</h2>
  <div id="messageArea"></div>
  <div id="score"></div>
  <br>
  <br><br><br><br><br>
        <div class="board-wrapper">
            
  <div class="board", id="board">
            <div class="backlight"></div>
              <div class="pointer signal"></div>
              <div class="ring ring1"></div>
              <div class="ring ring2"></div>
              <div class="ring ring3"></div>

    <table id="p1-grid-table">
      <tbody id="p1-board">
      </tbody>
    </table>
  </div>
</div>
</div>

