<audio style="display: none;" controls autoplay="true" loop="true">
  <source autoplay="true" src="../../../assets/audio/inicio.mp3" />
</audio> 
<br>
<app-animacion-m></app-animacion-m>
<br>
<h3 style="color: whitesmoke; text-align: center;">¿SOBREVIVIRAS?</h3>
<br>
<section>
  <p>
    La COVID-19, enfermedad infecciosa causada por el virus SARS-CoV-2.
    <br />
    Produce síntomas similares a los de la gripe, entre los que se incluyen
    fiebre, tos seca, disnea (sensación de falta de aire), mialgia ( dolor
    muscular) y fatiga.
  </p>
  <p>
    En diciembre de 2019 hubo un brote epidémico de neumonía de causa
    desconocida en Wuhan, provincia de Hubei, China; el cual, según afirmó más
    tarde Reporteros sin Fronteras, llegó a afectar a más de 60 personas el
    veinte de ese mes. Según el Centro Chino para el Control y Prevención de
    Enfermedades (CCDC), el 29 de diciembre un hospital en Wuhan admitió a 4
    individuos con neumonía, quienes trabajaban en un mercado de esa ciudad. El
    hospital informó esto al CCDC, cuyo equipo en la ciudad inició una
    investigación. El equipo encontró más casos relacionados al mercado y el 30
    de diciembre las autoridades de salud de Wuhan comunicaron los casos al
    CCDC, que envió expertos a Wuhan para apoyar la investigación. Se obtuvieron
    muestras de estos pacientes para realizar análisis de laboratorio. 
  </p>
  <p>
    El 31 de diciembre, el Comité de Salud Municipal de Wuhan informó a la Organización
    Mundial de la Salud (OMS) que 27 personas habían sido diagnosticadas con
    neumonía de causa desconocida, habiendo 7 en estado crítico; la mayoría de
    estos casos eran trabajadores del mencionado mercado. Para el 1 de enero de
    2020, el mercado había sido cerrado y se había descartado que el causante de
    la neumonía fuera el SARS, el MERS, gripe, gripe aviaria u otras
    enfermedades respiratorias comunes causadas por virus.
  </p>
  <p>
    Tras el primer brote de COVID-19 en Wuhan en diciembre de 2019, donde las
    autoridades chinas confirmaron 41 casos detectados entre el 8 de diciembre y
    el 2 de enero de 2020,33​ la ciudad dejó de informar casos hasta el 19 de
    enero, cuando se confirmaron 17 casos más. Para ese entonces ya se habían
    comunicado los primeros casos por COVID-19 fuera de China: dos en Tailandia
    y uno en Japón. El 11 de marzo la enfermedad se hallaba ya en más de 100
    territorios a nivel mundial, y fue reconocida como una pandemia por la OMS.
  </p>
</section>
