section{
    padding: 1rem;
    background-color: rgba($color: #000000, $alpha: 0.6);
}
p{
    text-align: justify;
    padding: 1rem;
    font-size: 20px;
    color: whitesmoke;
}
$ima: "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b5b39bc2-9bcc-4b6a-9ed9-ff175e419a7a/d72mkw-5d9df30f-afe1-43c0-9080-7152a9e43fd0.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYjViMzliYzItOWJjYy00YjZhLTllZDktZmYxNzVlNDE5YTdhXC9kNzJta3ctNWQ5ZGYzMGYtYWZlMS00M2MwLTkwODAtNzE1MmE5ZTQzZmQwLmpwZyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl19.rnSt-mAOFd3kg52JRHEkQKUhXjMZuiEIOMAosNUuh4U";
main{
    background-image: url($ima);
    background-attachment: fixed;
    background-size: contain;
 } 