section {
  padding: 1rem;
  background-color: rgba($color: #000000, $alpha: 0.6);
}
p {
  text-align: justify;
  padding: 1rem;
  font-size: 30px;
  color: whitesmoke;
}

$ima: "https://i.pinimg.com/originals/37/37/65/373765c397ead80fb25e6d09529ff693.jpg";
main {
  padding: 100px;
  background-image: url($ima);
  background-size: cover;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  background-attachment: fixed;
}
@media (max-width: 2100px) {
  main {
    padding: 80px;
    padding: 100px;
    background-image: url($ima);
    background-size: cover;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    background-attachment: fixed;
  }
}

@media (max-width: 1000px) {
  main {
    padding: 80px;
  }
}

@media (max-width: 700px) {
  main {
    padding: 50px;
  }
}
@media (max-width: 500px) {
  main {
    padding: 25px;
  }
}


