<p id="start">Starting the year 2020, a threat threatens the whole world&hellip;</p>
<h1>NAVAL SICKNESS GAMBLE <sub>COVID-19</sub></h1>

<div id="titles">
  <div id="titlecontent">

    <p class="center">EPISODE I
      <br />
      The threat begins</p>

    <p>In a period when China wants to take over the world.</p>

    <p>
      It was first detected in the city of Wuhan, China in December 2019, having reached more than 100 territories, on
      March 11, 2020 the World Health Organization declared it a pandemic.</p>
    <p>
      After the closure that caused many people on the globe, it is time to take revenge and annihilate with this
      pandemic.</p>
    <br>
    <h1 class="h1">NAVAL SICKNESS GAMBLE <sub class="sub">COVID-19</sub></h1>
  </div>
</div>