<main>
  <!-- <app-audio-mapa></app-audio-mapa> -->
  <app-botones-mapa></app-botones-mapa>

  <div class="contendedor">
    <section>
      <div class="container-fluid">
        <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
          <div class="margen">
            <div id="AF" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/afghanistan.jpg"
              />
              <div class="card-block">
                <p class="card-text">Afganistan</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="SA" class="card" routerLink="/tablero-arabia-saudita">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/arabia.jpg"
              />
              <div class="card-block">
                <p class="card-text">Arabia Saudita</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="AZ" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/azerbaijan.jpg"
              />
              <div class="card-block">
                <p class="card-text">Azerbaiyan</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="BD" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/bangladesh.jpg"
              />
              <div class="card-block">
                <p class="card-text">Bangladés</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="MM" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/birmania.png"
              />
              <div class="card-block">
                <p class="card-text">Birmania</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="BT" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/butan.jpg"
              />
              <div class="card-block">
                <p class="card-text">Bután</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="KH" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/camboya.jpg"
              />
              <div class="card-block">
                <p class="card-text">Camboya</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="CN" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/china.jpg"
              />
              <div class="card-block">
                <p class="card-text">China</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="KP" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/corea del norte.jpg"
              />
              <div class="card-block">
                <p class="card-text">Corea del Norte</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="KR" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/corea del sur.jpg"
              />
              <div class="card-block">
                <p class="card-text">Corea del Sur</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="AE" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/emiratos.jpg"
              />
              <div class="card-block">
                <p class="card-text">Emiratos Arabes</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="PH" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/filipinas.jpg"
              />
              <div class="card-block">
                <p class="card-text">Filipinas</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="GE" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/georgia.jpg"
              />
              <div class="card-block">
                <p class="card-text">Georgia</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="IN" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/india.jpg"
              />
              <div class="card-block">
                <p class="card-text">India</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="ID" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/indonesia.jpg"
              />
              <div class="card-block">
                <p class="card-text">Indonesia</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="IQ" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/irak.jpg"
              />
              <div class="card-block">
                <p class="card-text">Irak</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="IR" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/iran.jpg"
              />
              <div class="card-block">
                <p class="card-text">Irán</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="IL" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/israel.jpg"
              />
              <div class="card-block">
                <p class="card-text">Israel</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="JP" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/japon.jpg"
              />
              <div class="card-block">
                <p class="card-text">Japón</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="JO" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/jordania.jpg"
              />
              <div class="card-block">
                <p class="card-text">Jordania</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="KZ" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/kazajstan.gif"
              />
              <div class="card-block">
                <p class="card-text">Kazajistan</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="KG" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/kirguistan.png"
              />
              <div class="card-block">
                <p class="card-text">Kirguistan</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="KW" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/kuwait.jpg"
              />
              <div class="card-block">
                <p class="card-text">Kuwait</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="LA" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/laos asia.jpg"
              />
              <div class="card-block">
                <p class="card-text">Laos</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="LB" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/libano.jpg"
              />
              <div class="card-block">
                <p class="card-text">Libano</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="MY" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/malasia.jpg"
              />
              <div class="card-block">
                <p class="card-text">Malasia</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="MN" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/mongolia.jpg"
              />
              <div class="card-block">
                <p class="card-text">Mongolia</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="NP" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/nepal.jpg"
              />
              <div class="card-block">
                <p class="card-text">Nepal</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="OM" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/oman asia.jpg"
              />
              <div class="card-block">
                <p class="card-text">Oman</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="PK" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/pakistan.jpg"
              />
              <div class="card-block">
                <p class="card-text">Pakistan</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="QA" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/qatarç.jpg"
              />
              <div class="card-block">
                <p class="card-text">Qatar</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="SY" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/siria.jpg"
              />
              <div class="card-block">
                <p class="card-text">Siria</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="LK" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/sri lanka.jpg"
              />
              <div class="card-block">
                <p class="card-text">Sri Lanka</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="TH" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/tailandia.jpg"
              />
              <div class="card-block">
                <p class="card-text">Tailandia</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="TW" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/taiwan.jpg"
              />
              <div class="card-block">
                <p class="card-text">Taiwan</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="TJ" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/tajiquistan.jpg"
              />
              <div class="card-block">
                <p class="card-text">Tayiquistan</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="TM" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/turkmenistan.jpg"
              />
              <div class="card-block">
                <p class="card-text">Turkmenistan</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="UZ" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/uzbekistan.jpg"
              />
              <div class="card-block">
                <p class="card-text">Uzbequistan</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="VN" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/vietnam.jpg"
              />
              <div class="card-block">
                <p class="card-text">Vietnam</p>
              </div>
            </div>
          </div>

          <div class="margen">
            <div id="YE" class="card">
              <img
                class="card-img-top"
                src="../../../assets/paisesBandera/asia/yemen.jpg"
              />
              <div class="card-block">
                <p class="card-text">Yemen</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <br />
  <div class="contenido">
    <div class="container">
      <div class="map">Alternative content</div>
    </div>
  </div>
</main>
