<app-audio-mapa></app-audio-mapa>
<app-botones-mapa></app-botones-mapa>
<br>
<h5 style="text-align: center; color: whitesmoke;" >ASIA</h5>
<!-- <h1>ASIA</h1>
<div id="contenido">
    <div id="asia" class="asia">
        <ol class='lista-paises'>
            <div class="paises5">
                <div class="col1">
                    <li id="AF"><a href="">Afganistán</a></li>
                    <li id="SA"><a href="">Arabia Saudita</a></li>
                    <li id="AM"><a href="">Armenia</a></li>
                    <li id="AZ"><a href="">Azerbaiyán</a></li>
                    <li id="BD"><a href="">Bangladés</a></li>
                    <li id="BH"><a href="">Baréin</a></li>
                    <li id="MM"><a href="">Birmania / Myanmar</a></li>
                    <li id="BN"><a href="">Brunéi</a></li>
                </div>
                <div class="col2">
                    <li id="BS"><a href="">Bután</a></li>
                    <li id="KH"><a href="">Camboya</a></li>
                    <li id="QA"><a href="">Catar</a></li>
                    <li id="CN"><a href="">China</a></li>
                    <li id="CY"><a href="">Chipre</a></li>
                    <li id="KP"><a href="">Corea del Norte</a></li>
                    <li id="KR"><a href="">Corea del Sur</a></li>
                    <li id="AE"><a href="">Emiratos Árabes Unidos</a></li>
                </div>
                <div class="col3">
                    <li id="PH"><a href="">Filipinas</a></li>
                    <li id="GE"><a href="">Georgia</a></li>
                    <li id="IN"><a href="">India</a></li>
                    <li id="ID"><a href="">Indonesia</a></li>
                    <li id="IQ"><a href="">Irak</a></li>
                    <li id="IR"><a href="">Irán</a></li>
                    <li id="IL"><a href="">Israel</a></li>
                    <li id="JP"><a href="">Japón</a></li>
                </div>
                <div class="col4">
                    <li id="JO"><a href="">Jordania</a></li>
                    <li id="KZ"><a href="">Kazajistán</a></li>
                    <li id="KG"><a href="">Kirguistán</a></li>
                    <li id="KW"><a href="">Kuwait</a></li>
                    <li id="LA"><a href="">Laos</a></li>
                    <li id="LI"><a href="">Líbano</a></li>
                    <li id="MY"><a href="">Malasia</a></li>
                    <li id="MV"><a href="">Maldivas</a></li>
                </div>
                <div class="col5">
                    <li id="MN"><a href="">Mongolia</a></li>
                    <li id="NP"><a href="">Nepal</a></li>
                    <li id="OM"><a href="">Omán</a></li>
                    <li id="PK"><a href="">Pakistán</a></li>
                    <li id="RU"><a href="">Rusia</a></li>
                    <li id="SG"><a href="">Singapur</a></li>
                    <li id="SY"><a href="">Siria</a></li>
                    <li id="LK"><a href="">Sri Lanka</a></li>
                    <li id="TH"><a href="">Tailandia</a></li>
                </div>
                <div class="col6">
                    <li id="TJ"><a href="">Tayikistán</a></li>
                    <li id="TP"><a href="">Timor Oriental</a></li>
                    <li id="TM"><a href="">Turkmenistán</a></li>
                    <li id="TR"><a href="">Turquía</a></li>
                    <li id="UZ"><a href="">Uzbekistán</a></li>
                    <li id="VN"><a href="">Vietnam</a></li>
                    <li id="YE"><a href="">Yemen</a></li>
                </div>
            </div>
        </ol>
    </div>
   
</div>


<div class="container">
    <div class="map">Alternative content</div>
</div> -->

<section>
    <div class="container-fluid">
      <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">

        <div class="col-2">
          <div id="AF" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/afghanistan.jpg"
            />
            <div class="card-block">
              <p class="card-text">Afganistan</p>
            </div>
          </div>
        </div>

        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ZM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/africa/zambia.png"
            />
            <div class="card-block">
              <p class="card-text">Zambia</p>
            </div>
          </div>
        </div>
        
        
      </div>
     </div>
  </section>


 
<br />
<div class="container">
  <div class="map">Alternative content</div>
</div>