<app-audio-mapa></app-audio-mapa>
<app-botones-mapa></app-botones-mapa>
<br>
<h5 style="text-align: center; color: whitesmoke;" >ASIA</h5>
<!-- <h1>ASIA</h1>
<div id="contenido">
    <div id="asia" class="asia">
        <ol class='lista-paises'>
            <div class="paises5">
                <div class="col1">
                    <li id="AF"><a href="">Afganistán</a></li>
                    <li id="SA"><a href="">Arabia Saudita</a></li>
                    <li id="AM"><a href="">Armenia</a></li>
                    <li id="AZ"><a href="">Azerbaiyán</a></li>
                    <li id="BD"><a href="">Bangladés</a></li>
                    <li id="BH"><a href="">Baréin</a></li>
                    <li id="MM"><a href="">Birmania / Myanmar</a></li>
                    <li id="BN"><a href="">Brunéi</a></li>
                </div>
                <div class="col2">
                    <li id="BS"><a href="">Bután</a></li>
                    <li id="KH"><a href="">Camboya</a></li>
                    <li id="QA"><a href="">Catar</a></li>
                    <li id="CN"><a href="">China</a></li>
                    <li id="CY"><a href="">Chipre</a></li>
                    <li id="KP"><a href="">Corea del Norte</a></li>
                    <li id="KR"><a href="">Corea del Sur</a></li>
                    <li id="AE"><a href="">Emiratos Árabes Unidos</a></li>
                </div>
                <div class="col3">
                    <li id="PH"><a href="">Filipinas</a></li>
                    <li id="GE"><a href="">Georgia</a></li>
                    <li id="IN"><a href="">India</a></li>
                    <li id="ID"><a href="">Indonesia</a></li>
                    <li id="IQ"><a href="">Irak</a></li>
                    <li id="IR"><a href="">Irán</a></li>
                    <li id="IL"><a href="">Israel</a></li>
                    <li id="JP"><a href="">Japón</a></li>
                </div>
                <div class="col4">
                    <li id="JO"><a href="">Jordania</a></li>
                    <li id="KZ"><a href="">Kazajistán</a></li>
                    <li id="KG"><a href="">Kirguistán</a></li>
                    <li id="KW"><a href="">Kuwait</a></li>
                    <li id="LA"><a href="">Laos</a></li>
                    <li id="LI"><a href="">Líbano</a></li>
                    <li id="MY"><a href="">Malasia</a></li>
                    <li id="MV"><a href="">Maldivas</a></li>
                </div>
                <div class="col5">
                    <li id="MN"><a href="">Mongolia</a></li>
                    <li id="NP"><a href="">Nepal</a></li>
                    <li id="OM"><a href="">Omán</a></li>
                    <li id="PK"><a href="">Pakistán</a></li>
                    <li id="RU"><a href="">Rusia</a></li>
                    <li id="SG"><a href="">Singapur</a></li>
                    <li id="SY"><a href="">Siria</a></li>
                    <li id="LK"><a href="">Sri Lanka</a></li>
                    <li id="TH"><a href="">Tailandia</a></li>
                </div>
                <div class="col6">
                    <li id="TJ"><a href="">Tayikistán</a></li>
                    <li id="TP"><a href="">Timor Oriental</a></li>
                    <li id="TM"><a href="">Turkmenistán</a></li>
                    <li id="TR"><a href="">Turquía</a></li>
                    <li id="UZ"><a href="">Uzbekistán</a></li>
                    <li id="VN"><a href="">Vietnam</a></li>
                    <li id="YE"><a href="">Yemen</a></li>
                </div>
            </div>
        </ol>
    </div>
   
</div>


<div class="container">
    <div class="map">Alternative content</div>
</div> -->

<section>
    <div class="container-fluid">
      <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">

        <div class="col-2">
          <div id="AF" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/afghanistan.jpg"
            />
            <div class="card-block">
              <p class="card-text">Afganistan</p>
            </div>
          </div>
        </div>

        <div class="col-2">
          <div id="SA" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/arabia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Arabia Saudita</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="AZ" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/azerbaijan.jpg"
            />
            <div class="card-block">
              <p class="card-text">Azerbaiyan</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="BD" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/bangladesh.jpg"
            />
            <div class="card-block">
              <p class="card-text">Bangladés</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="BT" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/butan.jpg"
            />
            <div class="card-block">
              <p class="card-text">Bután</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="KH" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/camboya.jpg"
            />
            <div class="card-block">
              <p class="card-text">Camboya</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="CN" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/china.jpg"
            />
            <div class="card-block">
              <p class="card-text">China</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="KP" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/corea del norte.jpg"
            />
            <div class="card-block">
              <p class="card-text">Corea del Norte</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="KR" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/corea del sur.jpg"
            />
            <div class="card-block">
              <p class="card-text">Corea del Sur</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="AE" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/emiratos.jpg"
            />
            <div class="card-block">
              <p class="card-text">Emiratos Arabes</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="PH" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/filipinas.jpg"
            />
            <div class="card-block">
              <p class="card-text">Filipinas</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="GE" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/georgia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Georgia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="IN" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/india.jpg"
            />
            <div class="card-block">
              <p class="card-text">India</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="ID" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/indonesia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Indonesia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="IQ" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/irak.jpg"
            />
            <div class="card-block">
              <p class="card-text">Irak</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="IR" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/iran.jpg"
            />
            <div class="card-block">
              <p class="card-text">Irán</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="IL" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/israel.jpg"
            />
            <div class="card-block">
              <p class="card-text">Israel</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="JP" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/japon.jpg"
            />
            <div class="card-block">
              <p class="card-text">Japón</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="JO" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/jordania.jpg"
            />
            <div class="card-block">
              <p class="card-text">Jordania</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="KZ" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/kazajstan.gif"
            />
            <div class="card-block">
              <p class="card-text">Kazajistan</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="KW" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/kuwait.jpg"
            />
            <div class="card-block">
              <p class="card-text">Kuwait</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="LA" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/laos asia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Laos</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="LB" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/libano.jpg"
            />
            <div class="card-block">
              <p class="card-text">Libano</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="MY" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/malasia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Malasia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="MN" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/mongolia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Mongolia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="NP" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/nepal.jpg"
            />
            <div class="card-block">
              <p class="card-text">Nepal</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="OM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/oman asia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Oman</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="PK" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/pakistan.jpg"
            />
            <div class="card-block">
              <p class="card-text">Pakistan</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="QA" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/qatarç.jpg"
            />
            <div class="card-block">
              <p class="card-text">Catar</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="SY" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/siria.jpg"
            />
            <div class="card-block">
              <p class="card-text">Siria</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="LK" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/sri lanka.jpg"
            />
            <div class="card-block">
              <p class="card-text">Sri Lanka</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="TH" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/tailandia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Tailandia</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="TW" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/taiwan.jpg"
            />
            <div class="card-block">
              <p class="card-text">Taiwan</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="TJ" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/tajiquistan.jpg"
            />
            <div class="card-block">
              <p class="card-text">Tayiquistan</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="TM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/turkmenistan.jpg"
            />
            <div class="card-block">
              <p class="card-text">Turkmenistan</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="UZ" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/uzbekistan.jpg"
            />
            <div class="card-block">
              <p class="card-text">Uzbequistan</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="VN" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/vietnam.jpg"
            />
            <div class="card-block">
              <p class="card-text">Vietnam</p>
            </div>
          </div>
        </div>
        
        <div class="col-2">
          <div id="YE" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/asia/yemen.jpg"
            />
            <div class="card-block">
              <p class="card-text">Yemen</p>            
            </div>
          </div>
        </div>
        
      </div>
     </div>
  </section>


 
<br />
<div class="container">
  <div class="map">Alternative content</div>
</div>