h5 {
  margin-top: 25px;
  font-family: fantasy;
}
.margen {
  margin-left: 15px;
}

.scrolling-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
main {
  background-color: #000;
}

img {
  width: 100%;
  height: 70px;
}
.card {
  background-color: rgba($color: black, $alpha: 1);
  border: white 2px solid;
  color: whitesmoke;
  width: 120px;
  height: 100px;
  font-size: 12px;
  text-align: center;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
    transform: all 0.5;
  }
}

.contendedor {
  width: 100%;
  section {
    width: 70%;
    margin: auto;
  }
}
.contenido {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  -webkit-box-shadow: 1px 0px 25px 10px rgb(0, 255, 21);
  -moz-box-shadow: 1px 0px 25px 10px rgb(0, 255, 21);
  box-shadow: 1px 0px 25px 10px rgb(0, 255, 21);
  background-image: url("https://www.xmple.com/wallpaper/graph-paper-black-green-grid-2560x1440-c2-000000-00ff00-l2-4-120-a-0-f-20.svg");
  background-size: contain;
  .container {
    width: 100%;
    margin: auto;
    .map {
      width: 100%;
      margin: auto;
    }
  }
}

.card-text {
  font-family: fantasy;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}

@media (max-width: 767px) {
  .contenido {
    width: 100%;

    .container {
      width: 95%;
      margin: auto;
      .map {
        width: 100%;
        margin: auto;
      }
    }
  }
}
