<main>
  <div class="container pd-5 mt-4">
    <button style="margin-left: 50px;" type="button" class="btn btn-outline-success" routerLink="/africa" style="font-family: verdana;">REGRESAR AL MAPA</button>
   </div>
   <h3 style="color: red; text-align: center;font-family: fantasy;">Egipto level</h3>
    <div class="cnto">
        <div class="uno">
            <div class="contenido">
                <div id="message-area" style="font-family: fantasy;">
                  Estado: <br /><br>
                  <span style="color: red;" id="message"></span>                  
                </div>
              </div>
              <table class="table" style="border-top: red 2px solid;">
                <tr>
                  <td style="color: whitesmoke;margin-top: 5px ;font-family: fantasy;">Barcos con la cura</td>
                </tr>
                <tr>
                  <td>Fragata Will  5</td>
              </tr>
              <tr>
                <td>C.B Victoria 4</td>

              </tr>
              <tr>
                <td>PW Romanian 3</td>
              
              </tr>
              <tr>
                <td>SS Corvetta 3</td>
                
              </tr>
              <tr>
                <td>Destroyer 2</td>
               
              </tr>
             </table>
        </div>
        <div class="dos">
            <div id="game-board-container">
                <div class="game-board-wrapper">
                  <div class="radar"></div>
                  <table class="game-board" style="color:whitesmoke; text-align: center; font-family: fantasy;">
                    <thead>
                      <tr>
                        <td></td>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>A</td>
                        <td id="0"></td>
                        <td id="1"></td>
                        <td id="2"></td>
                        <td id="3"></td>
                        <td id="4"></td>
                        <td id="5"></td>
                        <td id="6"></td>
                        <td id="7"></td>
                        <td id="8"></td>
                        <td id="9"></td>
                      </tr>
                      <tr>
                        <td>B</td>
                        <td id="10"></td>
                        <td id="11"></td>
                        <td id="12"></td>
                        <td id="13"></td>
                        <td id="14"></td>
                        <td id="15"></td>
                        <td id="16"></td>
                        <td id="17"></td>
                        <td id="18"></td>
                        <td id="19"></td>
                      </tr>
                      <tr>
                        <td>C</td>
                        <td id="20"></td>
                        <td id="21"></td>
                        <td id="22"></td>
                        <td id="23"></td>
                        <td id="24"></td>
                        <td id="25"></td>
                        <td id="26"></td>
                        <td id="27"></td>
                        <td id="28"></td>
                        <td id="29"></td>
                      </tr>
                      <tr>
                        <td>D</td>
                        <td id="30"></td>
                        <td id="31"></td>
                        <td id="32"></td>
                        <td id="33"></td>
                        <td id="34"></td>
                        <td id="35"></td>
                        <td id="36"></td>
                        <td id="37"></td>
                        <td id="38"></td>
                        <td id="39"></td>
                      </tr>
                      <tr>
                        <td>E</td>
                        <td id="40"></td>
                        <td id="41"></td>
                        <td id="42"></td>
                        <td id="43"></td>
                        <td id="44"></td>
                        <td id="45"></td>
                        <td id="46"></td>
                        <td id="47"></td>
                        <td id="48"></td>
                        <td id="49"></td>
                      </tr>
                      <tr>
                        <td>F</td>
                        <td id="50"></td>
                        <td id="51"></td>
                        <td id="52"></td>
                        <td id="53"></td>
                        <td id="54"></td>
                        <td id="55"></td>
                        <td id="56"></td>
                        <td id="57"></td>
                        <td id="58"></td>
                        <td id="59"></td>
                      </tr>
                      <tr>
                        <td>G</td>
                        <td id="60"></td>
                        <td id="61"></td>
                        <td id="62"></td>
                        <td id="63"></td>
                        <td id="64"></td>
                        <td id="65"></td>
                        <td id="66"></td>
                        <td id="67"></td>
                        <td id="68"></td>
                        <td id="69"></td>
                      </tr>
                      <tr>
                        <td>H</td>
                        <td id="70"></td>
                        <td id="71"></td>
                        <td id="72"></td>
                        <td id="73"></td>
                        <td id="74"></td>
                        <td id="75"></td>
                        <td id="76"></td>
                        <td id="77"></td>
                        <td id="78"></td>
                        <td id="79"></td>
                      </tr>
                      <tr>
                        <td>I</td>
                        <td id="80"></td>
                        <td id="81"></td>
                        <td id="82"></td>
                        <td id="83"></td>
                        <td id="84"></td>
                        <td id="85"></td>
                        <td id="86"></td>
                        <td id="87"></td>
                        <td id="88"></td>
                        <td id="89"></td>
                      </tr>
                      <tr>
                        <td>J</td>
                        <td id="90"></td>
                        <td id="91"></td>
                        <td id="92"></td>
                        <td id="93"></td>
                        <td id="94"></td>
                        <td id="95"></td>
                        <td id="96"></td>
                        <td id="97"></td>
                        <td id="98"></td>
                        <td id="99"></td>
                      </tr>
                    </tbody>
                  
                
                </table>
                
                <div id="input-console">
                    <form>
                     <input
                  type="text"
                  id="user-input"
                  placeholder="COORDENADA"
                  autofocus
                />
                      <input type="button" id="fire-button" value="Fuego!" (click)="my()"/>
                    </form>
                    <table style="margin-top: 25px; text-align: center;" class="table1" >
                        <tr>
                          <td style="color: whitesmoke;margin-top: 5px ;font-family: fantasy;text-align: center;">Barcos con la cura</td>
                        </tr>
                        <tr>
                          <td style="margin-top: 5px ;font-family: fantasy;text-align: center; color: green;">Fragata Will  5</td>
                      </tr>
                      <tr>
                        <td style="margin-top: 5px ;font-family: fantasy;text-align: center;color: green;">C.B Victoria 4</td>
        
                      </tr>
                      <tr>
                        <td style="margin-top: 5px ;font-family: fantasy;text-align: center;color: green;">PW Romanian 3</td>
                      
                      </tr>
                      <tr>
                        <td style="margin-top: 5px ;font-family: fantasy;text-align: center;color: green;">SS Corvetta 3</td>
                        
                      </tr>
                      <tr>
                        <td style="margin-top: 5px ;font-family: fantasy;text-align: center;color: green;">Destroyer 2</td>
                                             </tr>
                     </table>
                  </div>
                </div>
              </div>
        </div>
    </div>
</main>