<h3
  style="
    font-family: fantasy;
    color: red;
    text-align: center;
    margin-top: 10px;
  "
>
  INSTRUCCIONES
</h3>
<hr color="red" width="600" />
<br />

<div class="container" style="color: whitesmoke;">
  <table>
    <thead>
      <tr>
        <td>NIVELES ACTUALES</td>
      </tr>
    </thead>
    <tbody>
      
        <tr>
          Estados Unidos
        </tr>
        <tr>
          Belice
        </tr>
        <tr>
          Colombia
        </tr>
        <tr>
          Alemania
        </tr>
        <tr>
          Egipto
        </tr>
        <tr>
          China
        </tr>
        <tr>
          Australia
        </tr>
      
    </tbody>
  </table>
</div>
<div class="container pd-5">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/GvijX-5PmuI"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
