<h3 style="font-family: fantasy; color: red; text-align: center; margin-top: 10px;">INSTRUCCIONES</h3>
<hr color="red" width="600">
<br>

<div class="container" style="color: whitesmoke;">
    <h1>Niveles actuales</h1>
    <ul>
        <li>USA</li>
        <li>Belice</li>
        <li>Colombia</li>
        <li>Egipto</li>
        <li>Alemania</li>
        <li>Australia</li>
         <li>China</li>
    </ul>
</div>
<div class="container pd-5">
    <div class="embed-responsive embed-responsive-16by9">
         <video controls src="../../../assets/instrucción/instruccion.mp4"></video>
    </div>
</div>