<app-botones-mapa></app-botones-mapa>
<br>
<h1>OCEANIA</h1>
<div id="contenido">
    <div id="oceania" class="oceania">
        <ol class='lista-paises'>
            <div class="paises6">
                <div class="col1">
                    <li id="AU"><a href="">Australia</a></li>
                    <li id="FJ"><a href="">Fiyi</a></li>
                    <li id="MH"><a href="">Islas Marshall</a></li>
                    <li id="SB"><a href="">Islas Salomón</a></li>
                    <li id="KI"><a href="">Kiribati</a></li>
                    <li id="FM"><a href="">Micronesia</a></li>
                    <li id="NR"><a href="">Nauru</a></li>
                </div>
                <div class="col2">
                    <li id="NZ"><a href="">Nueva Zelanda</a></li>
                    <li id="PLW"><a href="">Palaos</a></li>
                    <li id="PG"><a href="">Papúa Nueva Guinea</a></li>
                    <li id="WS"><a href="">Samoa</a></li>
                    <li id="TO"><a href="">Tonga</a></li>
                    <li id="TV"><a href="">Tuvalu</a></li>
                    <li id="VU"><a href="">Vanuatu</a></li>
                </div>
            </div>
        </ol>
    </div>
    <div class="container">
        <div class="map">Alternative content</div>
    </div>
</div>