<app-audio-mapa></app-audio-mapa>
<app-botones-mapa></app-botones-mapa>
<br>
<h5 style="text-align: center; color: whitesmoke;" >CENTRO AMERICA</h5>
<!-- 
<h1>CENTRO AMERICA</h1>
<div id="contenido">
    <div class="centroAmerica" id="centroAmerica">
        <ol class="lista-paises">
            <div class="paises1">
                <div class="col1">
                    <li id="BS"><a href="">Bahamas</a></li>
                    <li id="BRB"><a href="">Barbados</a></li>
                    <li id="BZ"><a href="">Belice</a></li>
                    <li id="CR"><a href="">Costa Rica</a></li>
                    <li id="CU"><a href="">Cuba</a></li>
                    <li id="DM"><a href="">Dominica</a></li>
                    <li id="SV"><a href="">El Salvador</a></li>
                    <li id="GD"><a href="">Granada</a></li>
                </div>
                <div class="col2">
                    <li id="GT"><a href="">Guatemala</a></li>
                    <li id="HT"><a href="">Haití</a></li>
                    <li id="HN"><a href="">Honduras</a></li>
                    <li id="JM"><a href="">Jamaica</a></li>
                    <li id="NI"><a href="">Nicaragua</a></li>
                    <li id="PA"><a href="">Panamá</a></li>
                    <li id="DO"><a href="">República Dominicana</a></li>
                    <li id="VC"><a href="">San Vicente y las Granadinas</a></li>
                    <li id="LC"><a href="">Santa Lucía</a></li>
                </div>
            </div>
        </ol>
    </div>
    <div class="container">
        <div class="map">Alternative content</div>
    </div>
</div> -->

<section>
  <div class="container-fluid">
    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">

      <div class="margen">
        <div id="N/A" class="card">
          <img
            class="card-img-top"
            src="../../../assets/paisesBandera/america central y norte/antillas.jpg"
          />
          <div class="card-block">
            <p class="card-text">Antillas</p>
          </div>
        </div>
      </div>

      
      <div class="margen">
        <div id="BB" class="card">
          <img
            class="card-img-top"
            src="../../../assets/paisesBandera/america central y norte/barbados.jpg"
          />
          <div class="card-block">
            <p class="card-text">Barbados</p>
          </div>
        </div>
      </div>
      <div class="margen">
        <div id="BZ" class="card">
          <img
            class="card-img-top"
            src="../../../assets/paisesBandera/america central y norte/belice.jpg"
          />
          <div class="card-block">
            <p class="card-text">Belice</p>
          </div>
        </div>
      </div>
      <div class="margen">
        <div id="CR" class="card">
          <img
            class="card-img-top"
            src="../../../assets/paisesBandera/america central y norte/costa rica.jpg"
          />
          <div class="card-block">
            <p class="card-text">Costa Rica</p>
          </div>
        </div>
      </div>
      <div class="margen">
        <div id="CU" class="card">
          <img
            class="card-img-top"
            src="../../../assets/paisesBandera/america central y norte/cuba.jpg"
          />
          <div class="card-block">
            <p class="card-text">Cuba</p>
          </div>
        </div>
      </div>
      <div class="margen">
        <div id="DM" class="card">
          <img
            class="card-img-top"
            src="../../../assets/paisesBandera/america central y norte/dominica.jpg"
          />
          <div class="card-block">
            <p class="card-text">Dominica</p>
          </div>
        </div>
      </div>
      <div class="margen">
        <div id="SV" class="card">
          <img
            class="card-img-top"
            src="../../../assets/paisesBandera/america central y norte/el salv.jpg"
          />
          <div class="card-block">
            <p class="card-text">El Salvador</p>
          </div>
        </div>
      </div>
      <div class="margen">
        <div id="GT" class="card">
          <img
            class="card-img-top"
            src="../../../assets/paisesBandera/america central y norte/guatemala.jpg"
          />
          <div class="card-block">
            <p class="card-text">Guatemala</p>
          </div>
        </div>
      </div>
      <div class="margen">
        <div id="HT" class="card">
          <img
            class="card-img-top"
            src="../../../assets/paisesBandera/america central y norte/haiti.jpg"
          />
          <div class="card-block">
            <p class="card-text">Haiti</p>
          </div>
        </div>
      </div>
      <div class="margen">
        <div id="HN" class="card">
          <img
            class="card-img-top"
            src="../../../assets/paisesBandera/america central y norte/honduras.jpg"
          />
          <div class="card-block">
            <p class="card-text">Honduras</p>
          </div>
        </div>
      </div>
      <div class="margen">
        <div id="JM" class="card">
          <img
            class="card-img-top"
            src="../../../assets/paisesBandera/america central y norte/jamaica.jpg"
          />
          <div class="card-block">
            <p class="card-text">Jamaica</p>
          </div>
        </div>
      </div>
      <div class="margen">
        <div id="NI" class="card">
          <img
            class="card-img-top"
            src="../../../assets/paisesBandera/america central y norte/nicaragua.jpg"
          />
          <div class="card-block">
            <p class="card-text">Nicaragua</p>
          </div>
        </div>
      </div>
      <div class="margen">
        <div id="PA" class="card">
          <img
            class="card-img-top"
            src="../../../assets/paisesBandera/america central y norte/panama.jpg"
          />
          <div class="card-block">
            <p class="card-text">Panama</p>
          </div>
        </div>
      </div>
      <div class="margen">
        <div id="PR" class="card">
          <img
            class="card-img-top"
            src="../../../assets/paisesBandera/america central y norte/puerto rico.jpg"
          />
          <div class="card-block">
            <p class="card-text">Puerto Rico</p>
          </div>
        </div>
      </div>
      <div class="margen">
        <div id="DO" class="card">
          <img
            class="card-img-top"
            src="../../../assets/paisesBandera/america central y norte/rep dominicana.jpg"
          />
          <div class="card-block">
            <p class="card-text">Rep. Dominicana</p>
          </div>
        </div>
      </div>
      <div class="margen">
        <div id="TT" class="card">
          <img
            class="card-img-top"
            src="../../../assets/paisesBandera/america central y norte/trinidad.jpg"
          />
          <div class="card-block">
            <p class="card-text">Trinidad y Tobago</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br />

<div class="container">
  <div class="map">Alternative content</div>
</div>
