<app-botones-mapa></app-botones-mapa>
<br>

<h1>CENTRO AMERICA</h1>
<div id="contenido">
    <div class="centroAmerica" id="centroAmerica">
        <ol class="lista-paises">
            <div class="paises1">
                <div class="col1">
                    <li id="BS"><a href="">Bahamas</a></li>
                    <li id="BRB"><a href="">Barbados</a></li>
                    <li id="BZ"><a href="">Belice</a></li>
                    <li id="CR"><a href="">Costa Rica</a></li>
                    <li id="CU"><a href="">Cuba</a></li>
                    <li id="DM"><a href="">Dominica</a></li>
                    <li id="SV"><a href="">El Salvador</a></li>
                    <li id="GD"><a href="">Granada</a></li>
                </div>
                <div class="col2">
                    <li id="GT"><a href="">Guatemala</a></li>
                    <li id="HT"><a href="">Haití</a></li>
                    <li id="HN"><a href="">Honduras</a></li>
                    <li id="JM"><a href="">Jamaica</a></li>
                    <li id="NI"><a href="">Nicaragua</a></li>
                    <li id="PA"><a href="">Panamá</a></li>
                    <li id="DO"><a href="">República Dominicana</a></li>
                    <li id="VC"><a href="">San Vicente y las Granadinas</a></li>
                    <li id="LC"><a href="">Santa Lucía</a></li>
                </div>
            </div>
        </ol>
    </div>
    <div class="container">
        <div class="map">Alternative content</div>
    </div>
</div>