<app-audio-mapa></app-audio-mapa>
<app-botones-mapa></app-botones-mapa>
<br>

<h1>EUROPA</h1>
<div id="contenido">
    <div id="europa" class="europa">
        <ol class='lista-paises'>
            <div class="paises3">
                <div class="col1">
                    <li id="AL"><a href="">Albania</a></li>
                    <li id="DE"><a href="">Alemania</a></li>
                    <li id="AD"><a href="">Adorra</a></li>
                    <li id="AM"><a href="">Armenia</a></li>
                    <li id="AT"><a href="">Austria</a></li>
                    <li id="AZE"><a href="">Azerbaiyán</a></li>
                    <li id="BE"><a href="">Belgica</a></li>
                    <li id="BLR"><a href="">Bielorrusia</a></li>
                    <li id="BIH"><a href="">Bosnia y Herzegovina</a></li>
                    <li id="BG"><a href="">Bulgaria</a></li>
                    <li id="CY"><a href="">Chipre</a></li>
                </div>
                <div class="col2">
                    <li id="VAT"><a href="">Ciudad del Vaticano</a></li>
                    <li id="HR"><a href="">Croacia</a></li>
                    <li id="DK"><a href="">Dinamarca</a></li>
                    <li id="SK"><a href="">Eslovaquia</a></li>
                    <li id="SI"><a href="">Eslovenia</a></li>
                    <li id="ES"><a href="">España</a></li>
                    <li id="EE"><a href="">Estonia</a></li>
                    <li id="FI"><a href="">Finlandia</a></li>
                    <li id="FR"><a href="">Francia</a></li>
                    <li id="GE"><a href="">Georgia</a></li>
                </div>
                <div class="col3">
                    <li id="GR"><a href="">Grecia</a></li>
                    <li id="HU"><a href="">Hungría</a></li>
                    <li id="IE"><a href="">Irlanda</a></li>
                    <li id="IS"><a href="">Islandia</a></li>
                    <li id="IT"><a href="">Italia</a></li>
                    <li id="KAZ"><a href="">Kazajistán</a></li>
                    <li id="LV"><a href="">Letonia</a></li>
                    <li id="LI"><a href="">Liechtenstein</a></li>
                    <li id="LT"><a href="">Lituania</a></li>
                    <li id="LU"><a href="">Luxemburgo</a></li>
                </div>
                <div class="col4">
                    <li id="MK"><a href="">Macedonia del Norte</a></li>
                    <li id="MT"><a href="">Malta</a></li>
                    <li id="MD"><a href="">Moldavia</a></li>
                    <li id="MC"><a href="">Mónaco</a></li>
                    <li id="MNE"><a href="">Montenegro</a></li>
                    <li id="NO"><a href="">Noruega</a></li>
                    <li id="NL"><a href="">Países Bajos</a></li>
                    <li id="PL"><a href="">Polonia</a></li>
                    <li id="PT"><a href="">Portugal</a></li>
                    <li id="GB"><a href="">Reino Unido</a></li>
                </div>
                <div class="col5">
                    <li id="CZ"><a href="">República Checa</a></li>
                    <li id="RO"><a href="">Rumania</a></li>
                    <li id="RU"><a href="">Rusia</a></li>
                    <li id="SM"><a href="">San Marino</a></li>
                    <li id="SRB"><a href="">Serbia</a></li>
                    <li id="SE"><a href="">Suecia</a></li>
                    <li id="CH"><a href="">Suiza</a></li>
                    <li id="TR"><a href="">Turquía</a></li>
                    <li id="UA"><a href="">Ucrania</a></li>
                </div>
            </div>
        </ol>
    </div>
    <div class="container">
        <div class="map">Alternative content</div>
    </div>
</div>