<app-audio-mapa></app-audio-mapa>
<app-botones-mapa></app-botones-mapa>

<div class="contendedor">
  <section>
    <div class="container-fluid">
      <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
        <div class="margen">
          <div id="AL" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/albania.jpg"
            />
            <div class="card-block">
              <p class="card-text">Albania</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="DE" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/ale.jpg"
            />
            <div class="card-block">
              <p class="card-text">Alemania</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="AD" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/andorra.gif"
            />
            <div class="card-block">
              <p class="card-text">Andorra</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="AT" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/austria.jpg"
            />
            <div class="card-block">
              <p class="card-text">Austria</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="BY" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/belarus bielorrusia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Belarus</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="BE" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/belgica.jpg"
            />
            <div class="card-block">
              <p class="card-text">Belgica</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="BA" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/bosnia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Bosnia Herzegovina</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="BG" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/bulgaria.jpg"
            />
            <div class="card-block">
              <p class="card-text">Bulgaria</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="CZ" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/checa.jpg"
            />
            <div class="card-block">
              <p class="card-text">Rep. Checa</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="CY" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/chipre.png"
            />
            <div class="card-block">
              <p class="card-text">Chipre</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="HR" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/croacia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Croacia</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="DK" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/dinamarca amsterdam.jpg"
            />
            <div class="card-block">
              <p class="card-text">Dinamarca</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="SK" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/eslovaquia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Eslovaquia</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="SI" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/eslovenia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Eslovenia</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="ES" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/esp.jpg"
            />
            <div class="card-block">
              <p class="card-text">España</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="EE" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/estonia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Estonia</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="FI" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/finlandia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Finlandia</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="FR" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/francia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Francia</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="GR" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/grecia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Grecia</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="NL" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/holanda.jpg"
            />
            <div class="card-block">
              <p class="card-text">Holanda</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="HU" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/hungria.jpg"
            />
            <div class="card-block">
              <p class="card-text">Hungria</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="IE" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/irlanda.jpg"
            />
            <div class="card-block">
              <p class="card-text">Irlanda</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="IS" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/islandia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Islandia</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="IT" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/italia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Italia</p>
            </div>
          </div>
        </div> 
        
        <div class="margen">
          <div id="XK" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/italia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Kosovo</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="LV" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/letonia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Letonia</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="LI" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/lietchestein.png"
            />
            <div class="card-block">
              <p class="card-text">Lietchestein</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="LT" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/lituania.jpg"
            />
            <div class="card-block">
              <p class="card-text">Lituania</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="LU" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/lux.jpg"
            />
            <div class="card-block">
              <p class="card-text">Luxemburgo</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="MK" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/macedonia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Macedonia</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="MT" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/malta.jpg"
            />
            <div class="card-block">
              <p class="card-text">Malta</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="MD" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/moldavia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Moldavia</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="MC" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/monaco.jpg"
            />
            <div class="card-block">
              <p class="card-text">Monaco</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="ME" class="card">
            <img
              class="card-img-top"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Flag_of_Montenegro.svg/1280px-Flag_of_Montenegro.svg.png"
            />
            <div class="card-block">
              <p class="card-text">Montenegro</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="NO" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/noruega.jpg"
            />
            <div class="card-block">
              <p class="card-text">Noruega</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="PL" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/polonia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Polonia</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="PT" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/port.jpg"
            />
            <div class="card-block">
              <p class="card-text">Portugal</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="GB" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/Reino unido.jpg"
            />
            <div class="card-block">
              <p class="card-text">Reino Unido</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="RO" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/rumania.jpg"
            />
            <div class="card-block">
              <p class="card-text">Rumania</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="RU" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/rusia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Rusia</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="SM" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/San-Marino.gif"
            />
            <div class="card-block">
              <p class="card-text">San Marino</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="RS" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/serbia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Serbia</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="SE" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/suecia.jpg"
            />
            <div class="card-block">
              <p class="card-text">Suecia</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="CH" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/suiza.jpg"
            />
            <div class="card-block">
              <p class="card-text">Suiza</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="TR" class="card">
            <img
              class="card-img-top"
              src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Flag_of_Turkey.svg"
            />
            <div class="card-block">
              <p class="card-text">Turqia</p>
            </div>
          </div>
        </div>

        <div class="margen">
          <div id="UA" class="card">
            <img
              class="card-img-top"
              src="../../../assets/paisesBandera/europa/ucrania.jpg"
            />
            <div class="card-block">
              <p class="card-text">Ucrania</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<br />
<div class="contenido">
  <div class="container">
    <div class="map">Alternative content</div>
  </div>
</div>
