

<!-- <h1>Bienbenido:</h1>

<p style="color: whitesmoke; font-family: fantasy; margin-top: 10px; margin-left: 10px;">USUARIO: </p> -->

<br>
<br>

<a class="tag-container" routerLink="/inicio">
    <div class="logo">
        <i class="fas fa-biohazard icon"></i>
    </div>
    <div class="info">
      <h1>BIENVENIDO A:</h1>
      <h3>Naval Sickness Gamble</h3>
      <br>
      <h4 style="text-align: center;">Usuario: </h4>
      <h4>{{userx.login}}</h4>
      <br>
      <h2>Haz click para continuar.</h2>
    </div>

  </a>