<div class="nav-side-menu">
  <div style="font-family: fantasy; font-size: 20px; color: red;" class="brand">Naval Sickness Gamble</div>
  
  <br>
  
  <i
    class="fa fa-bars fa-2x toggle-btn"
    data-toggle="collapse"
    data-target="#menu-content"
  ></i>

  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li style="text-align: center; font-family: verdana;" class="navitem" routerLink="/inicio">
        <i class="fab fa-galactic-senate"></i> INICIO
      </li>
      <li
        style="text-align: center; font-family: verdana;"
        class="navitem"
        routerLink="datos/covid"
        (click)="cargar()"
      >
        <i class="fa fa-database" aria-hidden="true"></i>

        DATOS COVID
      </li>
      <li style="text-align: center; font-family: verdana;" class="navitem" routerLink="/world-map">
        <i class="fa fa-map" aria-hidden="true"></i> MAPA MUNDIAL
      </li>
      <li style="text-align: center; font-family: verdana;" class="navitem" routerLink="/instrucciones">
        <i class="fa fa-info" aria-hidden="true"></i>
        INSTRUCCIONES
      </li>
      <li style="text-align: center;" style="margin-bottom: 10px; font-family: verdana;"></li>
      <li
        data-toggle="collapse"
        data-target="#products"
        class="collapsed active"
      >
        <a
          ><i class="fa fa-unlock-alt"></i> INICIO<span class="arrow"></span
        ></a>
      </li>
      <ul class="sub-menu collapse" id="products">
        <ng-container *ngIf="!auth.loggedIn(); else cerrarSesion">
          <li
            style="text-align: center; font-family: verdana;"
            class="navitem inicio"
            routerLink="/inicio-sesion"
          >
          <i class="fas fa-sign-in-alt"></i> INICIO S.
          </li>
          <li
            style="text-align: center; font-family: verdana;"
            class="navitem inicio"
            routerLink="/registro"
          >
            <i class="fa fa-user" aria-hidden="true"></i> REGISTRO
          </li>
        </ng-container>

        <ng-template #cerrarSesion>
          <li
            style="text-align: center;"
            class="navitem inicio"
            (click)="cerrar()"
          >
            <i class="fa fa-lock" aria-hidden="true"></i> CERRAR S.
          </li>
        </ng-template>
      </ul>
      <br>
      <br>
      <div class="imagene">
        <div class="ima">
          <img  src="https://cdn4.iconfinder.com/data/icons/medical-red-2/512/biohazard-512.png" alt="">
        </div>
      </div>
    </ul>
  </div>
</div>

<div class="dos">
  <router-outlet></router-outlet>
</div>
