<!-- <div class="inicio">
    <div class="t">
        <h1 id="titulo">NAVAL SICKNESS GAMBLE</h1>
    </div>
</div>
<br>

<div class="botones">
    <div class="btns">
        <button class="grid-item" routerLink="/norte-america" id="na">Norte America</button>
        <button class="grid-item" routerLink="/centro-america" id="ca">Centro America</button>
        <button class="grid-item" routerLink="/sur-america" id="sa">Sur America</button>
        <button class="grid-item" routerLink="/europa" id="eu">Europa</button>
        <button class="grid-item" routerLink="/africa" id="af">Africa</button>
        <button class="grid-item" routerLink="/asia" id="as">Asia</button>
        <button class="grid-item" routerLink="/oceania" id="oc">Oceania</button>
    </div>
</div>
<br>  -->

<div class="inicio">
  <div class="t">
    <h5 id="titulo">NAVAL SICKNESS GAMBLE</h5>
  </div>
</div>
<br />


  <div class="contenido">
    <div class="contenido1">
      <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">Selecciona el continente
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a routerLink = "/norte-america" routerLinkActive="active">Norte America</a></li>
         <li><a routerLink = "/centro-america" routerLinkActive="active">Centro America</a></li>
         <li><a routerLink = "/sur-america" routerLinkActive="active">Sur America</a></li>
         <li><a routerLink = "/europa" routerLinkActive="active">Europa</a></li>
         <li><a routerLink = "/asia" routerLinkActive="active">Asia</a></li>
         <li><a routerLink = "/africa" routerLinkActive="active">Africa</a></li>
         <li><a routerLink = "/oceania" routerLinkActive="active">Oceania</a></li>
        </ul>
      </div>    
    </div>
  </div>