

<div class="inicio">
  <div class="t">
    <h5 style="font-size: 32px;" id="titulo">NAVAL SICKNESS GAMBLE</h5>
  </div>
</div>
<br />


  <div class="contenido">
    <div class="contenido1">
      <div class="cnto">
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" style="font-family: fantasy">Selecciona el continente
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a routerLink = "/norte-america" routerLinkActive="active">Norte America</a></li>
           <li><a routerLink = "/centro-america" routerLinkActive="active">Centro America</a></li>
           <li><a routerLink = "/sur-america" routerLinkActive="active">Sur America</a></li>
           <li><a routerLink = "/europa" routerLinkActive="active">Europa</a></li>
           <li><a routerLink = "/asia" routerLinkActive="active">Asia</a></li>
           <li><a routerLink = "/africa" routerLinkActive="active">Africa</a></li>
           <li><a routerLink = "/oceania" routerLinkActive="active">Oceania</a></li>
          </ul>
        </div>    
      </div>
    </div>
  </div>