
<div class="inicio">
    <div class="t">
        <h1 id="titulo">NAVAL SICKNESS GAMBLE</h1>
    </div>
</div>
<br>

<div class="botones">
    <div class="btns">
        <button class="grid-item" routerLink="/norte-america" id="na">Norte America</button>
        <button class="grid-item" routerLink="/centro-america" id="ca">Centro America</button>
        <button class="grid-item" routerLink="/sur-america" id="sa">Sur America</button>
        <button class="grid-item" routerLink="/europa" id="eu">Europa</button>
        <button class="grid-item" routerLink="/africa" id="af">Africa</button>
        <button class="grid-item" routerLink="/asia" id="as">Asia</button>
        <button class="grid-item" routerLink="/oceania" id="oc">Oceania</button>
    </div>
</div>
<br>