.inicio {
  width: 100%;

  .t {
    width: 50%;
    margin: auto;

    #titulo {
      margin-top: 10px;
      font-family: fantasy;
      text-align: center;
      color: red;
      margin-bottom: 15px;
    }
  }
}

.contenido {
  width: 50%;
  margin: auto;
  .contenido1 {
    width: 40%;
    margin: auto;
    .cnto {
      width: 100%;
      margin: auto;
      .dropdown {
        width: 100%;
        margin: auto;
        a {
          font-family: fantasy;
          text-decoration: none;
          color: black;
          &:hover {
            color: #000;
            font-weight: 700;
          }
        }
      }
    }
  }
}
