<div class="container">
  <div>
    <h2 class="title">
      Medidas de protección básicas contra el nuevo coronavirus
    </h2>
  </div>
  <div class="container-fluid contenedor text-center">
    <div class="container text-center grid">
      <div class="col-md-4 container_foto">
        <div class="ver_mas text-center">
          <span class="lnr lnr-eye"></span>
        </div>
        <article class="text-left">
          <h2></h2>
          <h4>
            Lávese las manos con frecuencia con un desinfectante de manos a base
            de alcohol o con agua y jabón.
          </h4>
        </article>
        <img src="../../../assets/img/manos.jpg" alt="" />
      </div>
      <div class="col-md-4 container_foto">
        <div class="ver_mas text-center">
          <span id="click" class="lnr lnr-eye"></span>
        </div>
        <article class="text-left">
                      <h4>
            Usar tapabocas, cambiarlo en cada uso o si es lavable lavarlo
            despues de cada uso.
          </h4>
        </article>
        <img src="../../../assets/img/tapabocas.jpeg" alt="" />
      </div>

      <div class="col-md-4 container_foto">
        <div class="ver_mas text-center">
          <span class="lnr lnr-eye"></span>
        </div>
        <article class="text-left">
          <h4>
            Al toser o estornudar, cúbrase la boca y la nariz con el codo
            flexionado o con un pañuelo.
          </h4>
        </article>
        <img src="../../../assets/img/codo.jpg" alt="" />
      </div>

      <div class="col-md-4 container_foto">
        <div class="ver_mas text-center">
          <span class="lnr lnr-eye"></span>
        </div>
        <article class="text-left">
          <h4>
            Mantenga el distanciamiento social, al menos 1 metro (3 pies) de
            distancia entre usted y las demás personas.
          </h4>
        </article>
        <img src="../../../assets/img/dist.jpg" alt="" />
      </div>
      <div class="col-md-4 container_foto">
        <div class="ver_mas text-center">
          <span class="lnr lnr-eye"></span>
        </div>
        <article class="text-left">
          <h4>
            Evite tocarse los ojos, la nariz y la boca.
          </h4>
        </article>
        <img src="../../../assets/img/cara.jpeg" alt="" />
      </div>
      <div class="col-md-4 container_foto">
        <div class="ver_mas text-center">
          <span class="lnr lnr-eye"></span>
        </div>
        <article class="text-left">
          <h4>
            Si tiene fiebre, tos y dificultad para respirar, solicite atención
            médica a tiempo.
          </h4>
        </article>
        <img
          src="../../../assets/img/nino-fiebre-gripe-icono-ilustracion-personajes-dibujos-animados-corona-mascota-persona-icono-concepto-blanco-aislado_138676-927.jpg"
          alt=""
        />
      </div>
      <div class="col-md-4 container_foto">
        <div class="ver_mas text-center">
          <span class="lnr lnr-eye"></span>
        </div>
        <article class="text-left">
          <h4>
            Manténgase informado y siga las recomendaciones de los profesionales
            sanitarios.
          </h4>
        </article>
        <img src="../../../assets/img/medico.jpeg" alt="" />
      </div>
      <div class="col-md-4 container_foto">
        <div class="ver_mas text-center">
          <span class="lnr lnr-eye"></span>
        </div>
        <article class="text-left">
          <h4>
            Manténgase informado sobre las últimas novedades en relación con la
            COVID-19.
          </h4>
        </article>
        <img src="../../../assets/img/covid.jfif" alt="" />
      </div>
      <div class="col-md-4 container_foto">
        <div class="ver_mas text-center">
          <span class="lnr lnr-eye"></span>
        </div>
        <article class="text-left">
          <h4>
            Medidas de protección para las personas que se encuentran en zonas
            donde se está propagando la COVID-19 o que las han visitado
            recientemente (en los últimos 14 días)
          </h4>
        </article>
        <img
          src="../../../assets/img/96041728-6856-49ff-88a0-0bf052de6f6b.jfif"
          alt=""
        />
      </div>
      <div class="col-md-4 container_foto">
        <div class="ver_mas text-center">
          <span class="lnr lnr-eye"></span>
        </div>
        <article class="text-left">
          <h4>
            Permanezca en casa si empieza a encontrarse mal, aunque se trate de
            síntomas leves como cefalea y rinorrea leve, hasta que se recupere.
          </h4>
        </article>
        <img src="../../../assets/img/casa.jpeg" alt="" />
      </div>
    </div>
  </div>
</div>
