
<app-botones-mapa></app-botones-mapa>
<br>
<h1>AMERICA DEL SUR</h1>
<div id="contenido">
    <div class="surAmerica" id="surAmerica">
        <ol class='lista-paises'>
            <div class="paises2">
                <div class="col1">
                    <li id="AR"><a href="">Argentina</a></li>
                    <li id="BO"><a href="">Bolivia</a></li>
                    <li id="BR"><a href="">Brasil</a></li>
                    <li id="CL"><a href="">Chile</a></li>
                    <li id="CO"><a href="">Colombia</a></li>
                    <li id="EC"><a href="">Ecuador</a></li>
                    <li id="GY"><a href="">Guyana</a></li>
                </div>
                <div class="col2">
                    <li id="GF"><a href="">Guyana Francesa</a></li>
                    <li id="PY"><a href="">Paraguay</a></li>
                    <li id="PE"><a href="">Perú</a></li>
                    <li id="TT"><a href="">Trinidad y Tobago</a></li>
                    <li id="SR"><a href="">Surinam</a></li>
                    <li id="UY"><a href="">Uruguay</a></li>
                    <li id="VE"><a href="">Venezuela</a></li>
                </div>
<hr>
                <li id="FR"> <a href=""> GUYANA FRANCESA</a></li>
            </div>
        </ol>
    </div>
    <div class="container">
        <div class="map">Alternative content</div>
    </div>
</div>