<app-audio-mapa></app-audio-mapa>
<app-botones-mapa></app-botones-mapa>
<br />
<h3>NORTE AMERICA</h3>
<!-- <div id="contenido">
    <div id="norteAmerica" class="norteAmerica">
        <ol class='lista-paises'>
            <li id="CA"><a href="">Canada</a></li>
            <li id="US"><a href="">Estados Unidos de América</a></li>
            <li id="MX"><a href="">Estados Unidos Mexicanos</a></li>
            <li id="GL"><a href="">Groenlandia</a></li>
        </ol>
    </div>
        <div class="container">
        <div class="map">Alternative content</div>
    </div>
</div>  

 -->




 <section>
    <div class="container-fluid">
      <div class="row">
        <div class="scrollcards">
                  
          
            <div id="CA" class="card">
                <img class="card-img-top" src="../../../assets/paisesBandera/CA.png">
                <div class="card-block">
                  <p class="card-text">Canada</p>
                </div>
              </div>

              <div id="US" class="card">
                <img class="card-img-top" src="../../../assets/paisesBandera/índice.png">
                <div class="card-block">
                  <p class="card-text">U.S.A</p>
                </div>
              </div>

              <div id="MX" class="card">
                <img class="card-img-top" src="../../../assets/paisesBandera/Bandera_de_la_Tercer_República_Federal_de_los_Estados_Unidos_Mexicanos_modelo_1934.svg">
                <div class="card-block">
                  <p class="card-text">Mexico</p>
                </div>
              </div>
          
              <div id="GL" class="card">
                <img class="card-img-top" src="../../../assets/paisesBandera/greenland-flag.gif">
                <div class="card-block">
                  <p class="card-text">Groenlandia</p>
                </div>
              </div>
        </div>
      </div>
     </div>
  </section>


 
<br />
<div class="container">
  <div class="map">Alternative content</div>
</div>
