<app-botones-mapa></app-botones-mapa>
<br>

<div id="contenido">
    <div id="norteAmerica" class="norteAmerica">
        <h3>NORTE AMERICA</h3>
        <ol class='lista-paises'>
            <li id="CA"><a href="">Canada</a></li>
            <li id="US"><a href="">Estados Unidos de América</a></li>
            <li id="MX"><a href="">Estados Unidos Mexicanos</a></li>
            <li id="GL"><a href="">Groenlandia</a></li>
        </ol>
    </div>
        <div class="container">
        <div class="map">Alternative content</div>
    </div>
</div>

