<main>
<!--   <app-audio-mapa></app-audio-mapa> -->
<app-botones-mapa></app-botones-mapa>

 <div class="contendedor">
  <section>
    <div class="container-fluid">
      <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
                        
        <div class="margen"><div id="CA" class="card" routerLink="/tablero-canada">
          <img class="card-img-top" src="../../../assets/paisesBandera/CA.png">
          <div class="card-block">
            <p class="card-text">Canada</p>
          </div>
        </div></div>

        <div class="margen"><div id="US" class="card" routerLink="/tablero-usa">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/800px-Flag_of_the_United_States.svg.png">
          <div class="card-block">
            <p class="card-text">U.S.A</p>
          </div>
        </div></div>

        <div class="margen"><div id="MX" class="card">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Mexico.svg">
          <div class="card-block">
            <p class="card-text">Mexico</p>
          </div>
        </div></div>
          
      </div>
     </div>
  </section>
 </div>


 
<br />
<div class="contenido">
<div class="container">
  <div class="map">Alternative content</div>
</div>
</div>

</main>