/* body{
background-image: url("./assets/fondos/adn.jpeg");
background-attachment: fixed;
background-repeat: repeat-x repeat-y;
background-size: contain;
}  */

 body{
   background-image: url("./assets/fondos/f2168dfb-bd2e-4a22-9250-ef2c1d8e2d35.jpg");
   background-attachment: fixed;
   background-size: contain;
} 