<app-audio-mapa></app-audio-mapa>
<app-botones-mapa></app-botones-mapa>
<!-- 
<br />
<h1>AFRICA</h1>
<div id="contenido">
  <div id="africa" class="africa">
    <ol class="lista-paises">
      <div class="paises4">
        <li id="AO"><a href="">Angola</a></li>
        <li id="DZ"><a href="">Argelia</a></li>
        <li id="BJ"><a href="">Benín</a></li>
        <li id="BW"><a href="">Botsuana</a></li>
        <li id="BF"><a href="">Burkina Faso</a></li>
        <li id="BF"><a href="">Burundi</a></li>
        <li id="CV"><a href="">Cabo Verde</a></li>
        <li id="CM"><a href="">Camerún</a></li>
        <li id="TD"><a href="">Chad</a></li>
        <li id="KM"><a href="">Comoras</a></li>
        <li id="CI"><a href="">Costa de Marfil</a></li>
        <li id="EG"><a href="">Egipto</a></li>
        <li id="ER"><a href="">Eritrea</a></li>
        <li id="ET"><a href="">Etiopía</a></li>
        <li id="GA"><a href="">Gabón</a></li>
        <li id="GM"><a href="">Gambia</a></li>
        <li id="GA"><a href="">Ghana</a></li>
        <li id="GN"><a href="">Guinea</a></li>
        <li id="GW"><a href="">Guinea-Bisáu</a></li>
        <li id="GQ"><a href="">Guinea Ecuatorial</a></li>
        <li id="KE"><a href="">Kenia</a></li>
        <li id="LS"><a href="">Lesoto</a></li>
        <li id="LR"><a href="">Liberia</a></li>
        <li id="LY"><a href="">Libia</a></li>
        <li id="MG"><a href="">Madagascar</a></li>
        <li id="MW"><a href="">Malaui</a></li>
        <li id="ML"><a href="">Malí</a></li>
        <li id="MA"><a href="">Marruecos</a></li>
        <li id="MU"><a href="">Mauricio</a></li>
        <li id="MR"><a href="">Mauritania</a></li>
        <li id="MZ"><a href="">Mozambique</a></li>
        <li id="NA"><a href="">Namibia</a></li>
        <li id="NE"><a href="">Níger</a></li>
        <li id="NG"><a href="">Nigeria</a></li>
        <li id="CF"><a href="">República Centroafricana</a></li>
        <li id="CG"><a href="">República del Congo</a></li>
        <li id="CD"><a href="">Rep. Democrática del Congo</a></li>
        <li id="RW"><a href="">Ruanda</a></li>
        <li id="EH"><a href="">Sahara Occidental</a></li>
        <li id="ST"><a href="">Santo Tomé y Príncipe</a></li>
        <li id="SN"><a href="">Senegal</a></li>
        <li id="SC"><a href="">Seychelles</a></li>
        <li id="SL"><a href="">Sierra Leona</a></li>
        <li id="SO"><a href="">Somalia</a></li>
        <li id="SZ"><a href="">Suazilandia</a></li>
        <li id="ZA"><a href="">Sudáfrica</a></li>
        <li id="SD"><a href="">Sudán</a></li>
        <li id="SS"><a href="">Sudán del sur</a></li>
        <li id="TZ"><a href="">Tanzania</a></li>
        <li id="TG"><a href="">Togo</a></li>
        <li id="TN"><a href="">Túnez</a></li>
        <li id="UG"><a href="">Uganda</a></li>
        <li id="DJ"><a href="">Yibuti</a></li>
        <li id="ZM"><a href="">Zambia</a></li>
        <li id="ZW"><a href="">Zimbabue</a></li>
      </div>
    </ol>
  </div>
  <div class="container">
    <div class="map">Alternative content</div>
  </div>
</div>
 -->
 <br>
 <h5 style="text-align: center; color: whitesmoke;" >AFRICA</h5>
 <br>
 <div class="contendedor">
 <section>
 <div class="container-fluid">
   <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">

     <div class="col-2">
       <div id="AO" class="card">
         <img
           class="card-img-top"
           src="../../../assets/paisesBandera/africa/angola.png"
         />
         <div class="card-block">
           <p class="card-text">Angola</p>
         </div>
       </div>
     </div>

     <div class="col-2">
      <div id="DZ" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/argelia.jpg"
        />
        <div class="card-block">
          <p class="card-text">Argelia</p>
        </div>
      </div>
    </div>
     

    <div class="col-2">
      <div id="BJ" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/benin.png"
        />
        <div class="card-block">
          <p class="card-text">Benín</p>
        </div>
      </div>
    </div>

    
    <div class="col-2">
      <div id="BW" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/botsuana.png"
        />
        <div class="card-block">
          <p class="card-text">Botsuana</p>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div id="BF" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/burkina_faso.png"
        />
        <div class="card-block">
          <p class="card-text">Burkina Faso</p>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div id="BF" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/burundi.png"
        />
        <div class="card-block">
          <p class="card-text">Burundi</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="CV" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/cabo_verde.png"
        />
        <div class="card-block">
          <p class="card-text">Cabo Verde</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="CM" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/camerun.png"
        />
        <div class="card-block">
          <p class="card-text">Camerun</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="TD" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/chad.png"
        />
        <div class="card-block">
          <p class="card-text">Chad</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="KM" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/comoras.png"
        />
        <div class="card-block">
          <p class="card-text">Comoras</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="CI" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/costa_de_marfil.png"
        />
        <div class="card-block">
          <p class="card-text">Costa de Marfil</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="EG" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/egipto.png"
        />
        <div class="card-block">
          <p class="card-text">Egipto</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="ER" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/eritrea.png"
        />
        <div class="card-block">
          <p class="card-text">Eritrea</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="ET" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/etiopia.png"
        />
        <div class="card-block">
          <p class="card-text">Etiopia</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="GA" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/gabon.png"
        />
        <div class="card-block">
          <p class="card-text">Gabon</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="GM" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/gambia.png"
        />
        <div class="card-block">
          <p class="card-text">Gambia</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="GH" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/ghana.png"
        />
        <div class="card-block">
          <p class="card-text">Ghana</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="GW" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/guinea-bissau.png"
        />
        <div class="card-block">
          <p class="card-text">Guinea Bissau</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="GN" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/guinea.png"
        />
        <div class="card-block">
          <p class="card-text">Guinea</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="GQ" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/guinea_ecuatorial.png"
        />
        <div class="card-block">
          <p class="card-text">Guinea Ecuatorial</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="KE" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/kenia.png"
        />
        <div class="card-block">
          <p class="card-text">Kenia</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="LS" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/lesoto.png"
        />
        <div class="card-block">
          <p class="card-text">Lesoto</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="LR" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/liberia.png"
        />
        <div class="card-block">
          <p class="card-text">Liberia</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="LY" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/libia.png"
        />
        <div class="card-block">
          <p class="card-text">Libia</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="MG" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/madagascar.png"
        />
        <div class="card-block">
          <p class="card-text">Madagascar</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="MW" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/malaui.png"
        />
        <div class="card-block">
          <p class="card-text">Malaui</p>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div id="ML" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/mali.png"
        />
        <div class="card-block">
          <p class="card-text">Mali</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="MA" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/marruecos.png"
        />
        <div class="card-block">
          <p class="card-text">Marruecos</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="MU" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/mauricio.png"
        />
        <div class="card-block">
          <p class="card-text">Mauricio</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="MW" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/mauritania.png"
        />
        <div class="card-block">
          <p class="card-text">Mauritania</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="MZ" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/mozambique.png"
        />
        <div class="card-block">
          <p class="card-text">Mozambique</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="NA" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/namibia.png"
        />
        <div class="card-block">
          <p class="card-text">Namibia</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="NE" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/niger.png"
        />
        <div class="card-block">
          <p class="card-text">Niger</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="NG" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/nigeria.png"
        />
        <div class="card-block">
          <p class="card-text">Nigeria</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="CF" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/rep centroafricana.png"
        />
        <div class="card-block">
          <p class="card-text">Rep. Centroafricana</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="CG" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/republica_del_congo.png"
        />
        <div class="card-block">
          <p class="card-text">Rep. del Congo</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="CD" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/republica_democratica_del_congo.png"
        />
        <div class="card-block">
          <p class="card-text">Rep. Dem del Congo</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="RW" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/ruanda.png"
        />
        <div class="card-block">
          <p class="card-text">Ruanda</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="ST" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/santo_tome_y_principe.png"
        />
        <div class="card-block">
          <p class="card-text">Santo Tome y Principe</p>
        </div>
      </div>
    </div>
        
    <div class="col-2">
      <div id="EH" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/sahara occidental.png"
        />
        <div class="card-block">
          <p class="card-text">Sahara Occidental</p>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div id="SN" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/senegal.png"
        />
        <div class="card-block">
          <p class="card-text">Senegal</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="SC" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/seychelles.png"
        />
        <div class="card-block">
          <p class="card-text">Seychelles</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="SL" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/sierra_leona.png"
        />
        <div class="card-block">
          <p class="card-text">Sierra Leona</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="SO" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/somalia.png"
        />
        <div class="card-block">
          <p class="card-text">Somalia</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="SZ" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/suazilandia.png"
        />
        <div class="card-block">
          <p class="card-text">Suazilandia</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="ZA" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/sudafrica.png"
        />
        <div class="card-block">
          <p class="card-text">Sudafrica</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="SD" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/sudan.png"
        />
        <div class="card-block">
          <p class="card-text">Sudan</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="SS" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/sudan sur.png"
        />
        <div class="card-block">
          <p class="card-text">Sudan del sur</p>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div id="TZ" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/tanzania.png"
        />
        <div class="card-block">
          <p class="card-text">Tanzania</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="TG" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/togo.png"
        />
        <div class="card-block">
          <p class="card-text">Togo</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="TN" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/tunez.png"
        />
        <div class="card-block">
          <p class="card-text">Tunez</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="UG" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/uganda.png"
        />
        <div class="card-block">
          <p class="card-text">Uganda</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="DJ" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/yibuti.png"
        />
        <div class="card-block">
          <p class="card-text">Yibuti</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="ZM" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/zambia.png"
        />
        <div class="card-block">
          <p class="card-text">Zambia</p>
        </div>
      </div>
    </div>
    
    <div class="col-2">
      <div id="ZW" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/zimbabue.png"
        />
        <div class="card-block">
          <p class="card-text">Zimbabue</p>
        </div>
      </div>
    </div>
   </div>
 </div>
</section>
</div>


<br />
<div class="container">
<div class="map">Alternative content</div>
</div>