<app-audio-mapa></app-audio-mapa>
<app-botones-mapa></app-botones-mapa>
<!-- 
<br />
<h1>AFRICA</h1>
<div id="contenido">
  <div id="africa" class="africa">
    <ol class="lista-paises">
      <div class="paises4">
        <li id="AO"><a href="">Angola</a></li>
        <li id="DZ"><a href="">Argelia</a></li>
        <li id="BJ"><a href="">Benín</a></li>
        <li id="BW"><a href="">Botsuana</a></li>
        <li id=""><a href="">Burkina Faso</a></li>
        <li id="BF"><a href="">Burundi</a></li>
        <li id="CV"><a href="">Cabo Verde</a></li>
        <li id="CM"><a href="">Camerún</a></li>
        <li id="TD"><a href="">Chad</a></li>
        <li id="KM"><a href="">Comoras</a></li>
        <li id="CI"><a href="">Costa de Marfil</a></li>
        <li id="EG"><a href="">Egipto</a></li>
        <li id="ER"><a href="">Eritrea</a></li>
        <li id="ET"><a href="">Etiopía</a></li>
        <li id=""><a href="">Gabón</a></li>
        <li id=""><a href="">Gambia</a></li>
        <li id="GA"><a href="">Ghana</a></li>
        <li id="GN"><a href="">Guinea</a></li>
        <li id="GW"><a href="">Guinea-Bisáu</a></li>
        <li id="GQ"><a href="">Guinea Ecuatorial</a></li>
        <li id="KE"><a href="">Kenia</a></li>
        <li id="LS"><a href="">Lesoto</a></li>
        <li id="LR"><a href="">Liberia</a></li>
        <li id="LY"><a href="">Libia</a></li>
        <li id="MG"><a href="">Madagascar</a></li>
        <li id="MW"><a href="">Malaui</a></li>
        <li id="ML"><a href="">Malí</a></li>
        <li id="MA"><a href="">Marruecos</a></li>
        <li id="MU"><a href="">Mauricio</a></li>
        <li id="MR"><a href="">Mauritania</a></li>
        <li id="MZ"><a href="">Mozambique</a></li>
        <li id="NA"><a href="">Namibia</a></li>
        <li id="NE"><a href="">Níger</a></li>
        <li id="NG"><a href="">Nigeria</a></li>
        <li id="CF"><a href="">República Centroafricana</a></li>
        <li id="CG"><a href="">República del Congo</a></li>
        <li id="CD"><a href="">Rep. Democrática del Congo</a></li>
        <li id="RW"><a href="">Ruanda</a></li>
        <li id="ST"><a href="">Santo Tomé y Príncipe</a></li>
        <li id="SN"><a href="">Senegal</a></li>
        <li id="SC"><a href="">Seychelles</a></li>
        <li id="SL"><a href="">Sierra Leona</a></li>
        <li id="SO"><a href="">Somalia</a></li>
        <li id="SZ"><a href="">Suazilandia</a></li>
        <li id="ZA"><a href="">Sudáfrica</a></li>
        <li id="SD"><a href="">Sudán</a></li>
        <li id="TZ"><a href="">Tanzania</a></li>
        <li id="TG"><a href="">Togo</a></li>
        <li id="TN"><a href="">Túnez</a></li>
        <li id="UG"><a href="">Uganda</a></li>
        <li id="DJ"><a href="">Yibuti</a></li>
        <li id="ZM"><a href="">Zambia</a></li>
        <li id="ZW"><a href="">Zimbabue</a></li>
      </div>
    </ol>
  </div>
  <div class="container">
    <div class="map">Alternative content</div>
  </div>
</div>
 -->
 <section>
 <div class="container-fluid">
   <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">

     <div class="col-2">
       <div id="AO" class="card">
         <img
           class="card-img-top"
           src="../../../assets/paisesBandera/africa/angola.png"
         />
         <div class="card-block">
           <p class="card-text">Angola</p>
         </div>
       </div>
     </div>

   </div>
 </div>
 </section>



<br />
<div class="container">
<div class="map">Alternative content</div>
</div>