<main>
<!-- <app-audio-mapa></app-audio-mapa> -->
<app-botones-mapa></app-botones-mapa>

 
 <div  class="contendedor">
 <section >
 <div class="container-fluid">
   <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
     <div class="margen">
       <div id="AO" class="card">
         <img
           class="card-img-top"
           src="../../../assets/paisesBandera/africa/angola.png"
         />
         <div class="card-block">
           <p class="card-text">Angola</p>
         </div>
       </div>
     </div>

     <div class="margen">
      <div id="DZ" class="card">
        <img
          class="card-img-top"
          src="https://upload.wikimedia.org/wikipedia/commons/7/77/Flag_of_Algeria.svg"
        />
        <div class="card-block">
          <p class="card-text">Argelia</p>
        </div>
      </div>
    </div>
     

    <div class="margen">
      <div id="BJ" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/benin.png"
        />
        <div class="card-block">
          <p class="card-text">Benín</p>
        </div>
      </div>
    </div>

    
    <div class="margen">
      <div id="BW" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/botsuana.png"
        />
        <div class="card-block">
          <p class="card-text">Botsuana</p>
        </div>
      </div>
    </div>

    <div class="margen">
      <div id="BF" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/burkina_faso.png"
        />
        <div class="card-block">
          <p class="card-text">Burkina Faso</p>
        </div>
      </div>
    </div>

    <div class="margen">
      <div id="BI" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/burundi.png"
        />
        <div class="card-block">
          <p class="card-text">Burundi</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="CV" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/cabo_verde.png"
        />
        <div class="card-block">
          <p class="card-text">Cabo Verde</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="CM" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/camerun.png"
        />
        <div class="card-block">
          <p class="card-text">Camerun</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="TD" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/chad.png"
        />
        <div class="card-block">
          <p class="card-text">Chad</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="KM" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/comoras.png"
        />
        <div class="card-block">
          <p class="card-text">Comoras</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="CI" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/costa_de_marfil.png"
        />
        <div class="card-block">
          <p class="card-text">Costa de Marfil</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="EG" class="card" routerLink="/tablero-egipto">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/egipto.png"
        />
        <div class="card-block">
          <p class="card-text">Egipto</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="ER" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/eritrea.png"
        />
        <div class="card-block">
          <p class="card-text">Eritrea</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="ET" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/etiopia.png"
        />
        <div class="card-block">
          <p class="card-text">Etiopia</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="GA" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/gabon.png"
        />
        <div class="card-block">
          <p class="card-text">Gabon</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="GM" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/gambia.png"
        />
        <div class="card-block">
          <p class="card-text">Gambia</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="GH" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/ghana.png"
        />
        <div class="card-block">
          <p class="card-text">Ghana</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="GW" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/guinea-bissau.png"
        />
        <div class="card-block">
          <p class="card-text">Guinea Bissau</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="GN" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/guinea.png"
        />
        <div class="card-block">
          <p class="card-text">Guinea</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="GQ" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/guinea_ecuatorial.png"
        />
        <div class="card-block">
          <p class="card-text">Guinea Ecuatorial</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="KE" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/kenia.png"
        />
        <div class="card-block">
          <p class="card-text">Kenia</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="LS" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/lesoto.png"
        />
        <div class="card-block">
          <p class="card-text">Lesoto</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="LR" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/liberia.png"
        />
        <div class="card-block">
          <p class="card-text">Liberia</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="LY" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/libia.png"
        />
        <div class="card-block">
          <p class="card-text">Libia</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="MG" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/madagascar.png"
        />
        <div class="card-block">
          <p class="card-text">Madagascar</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="MW" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/malaui.png"
        />
        <div class="card-block">
          <p class="card-text">Malaui</p>
        </div>
      </div>
    </div>

    <div class="margen">
      <div id="ML" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/mali.png"
        />
        <div class="card-block">
          <p class="card-text">Mali</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="MA" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/marruecos.png"
        />
        <div class="card-block">
          <p class="card-text">Marruecos</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="MU" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/mauricio.png"
        />
        <div class="card-block">
          <p class="card-text">Mauricio</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="MR" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/mauritania.png"
        />
        <div class="card-block">
          <p class="card-text">Mauritania</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="MZ" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/mozambique.png"
        />
        <div class="card-block">
          <p class="card-text">Mozambique</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="NA" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/namibia.png"
        />
        <div class="card-block">
          <p class="card-text">Namibia</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="NE" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/niger.png"
        />
        <div class="card-block">
          <p class="card-text">Niger</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="NG" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/nigeria.png"
        />
        <div class="card-block">
          <p class="card-text">Nigeria</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="CF" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/rep centroafricana.png"
        />
        <div class="card-block">
          <p class="card-text">Rep. Centroafricana</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="CG" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/republica_del_congo.png"
        />
        <div class="card-block">
          <p class="card-text">Rep. del Congo</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="CD" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/republica_democratica_del_congo.png"
        />
        <div class="card-block">
          <p class="card-text">Rep. Dem del Congo</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="RW" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/ruanda.png"
        />
        <div class="card-block">
          <p class="card-text">Ruanda</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="ST" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/santo_tome_y_principe.png"
        />
        <div class="card-block">
          <p class="card-text">Santo Tome y Principe</p>
        </div>
      </div>
    </div>
        
    <div class="margen">
      <div id="EH" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/sahara occidental.png"
        />
        <div class="card-block">
          <p class="card-text">Sahara Occidental</p>
        </div>
      </div>
    </div>

    <div class="margen">
      <div id="SN" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/senegal.png"
        />
        <div class="card-block">
          <p class="card-text">Senegal</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="SC" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/seychelles.png"
        />
        <div class="card-block">
          <p class="card-text">Seychelles</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="SL" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/sierra_leona.png"
        />
        <div class="card-block">
          <p class="card-text">Sierra Leona</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="SO" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/somalia.png"
        />
        <div class="card-block">
          <p class="card-text">Somalia</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="SZ" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/suazilandia.png"
        />
        <div class="card-block">
          <p class="card-text">Suazilandia</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="ZA" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/sudafrica.png"
        />
        <div class="card-block">
          <p class="card-text">Sudafrica</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="SD" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/sudan.png"
        />
        <div class="card-block">
          <p class="card-text">Sudan</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="SS" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/sudan sur.png"
        />
        <div class="card-block">
          <p class="card-text">Sudan del sur</p>
        </div>
      </div>
    </div>

    <div class="margen">
      <div id="TZ" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/tanzania.png"
        />
        <div class="card-block">
          <p class="card-text">Tanzania</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="TG" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/togo.png"
        />
        <div class="card-block">
          <p class="card-text">Togo</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="TN" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/tunez.png"
        />
        <div class="card-block">
          <p class="card-text">Tunez</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="UG" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/uganda.png"
        />
        <div class="card-block">
          <p class="card-text">Uganda</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="DJ" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/yibuti.png"
        />
        <div class="card-block">
          <p class="card-text">Yibuti</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="ZM" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/zambia.png"
        />
        <div class="card-block">
          <p class="card-text">Zambia</p>
        </div>
      </div>
    </div>
    
    <div class="margen">
      <div id="ZW" class="card">
        <img
          class="card-img-top"
          src="../../../assets/paisesBandera/africa/zimbabue.png"
        />
        <div class="card-block">
          <p class="card-text">Zimbabue</p>
        </div>
      </div>
    </div>
   </div>
 </div>
</section>
</div>


<br />
<div class="contenido">
  <div  class="container">
    <div  class="map">Alternative content</div>
  </div>
</div>

</main>