<label for="show-menu" class="show-menu">NSG Menu</label>
<label for=""></label>
<input type="checkbox" id="show-menu" role="button" />
r
<ul class="navbar" id="menu">
  <li class="navitem "><a routerLink="/inicio">INICIO</a></li>
  <li class="navitem">
    <a routerLink="datos/covid" >DATOS COVID</a>
  </li>
  <li class="navitem"><a routerLink="/world-map">MAPA MUNDIAL</a></li>
  <li class="navitem"><a>INSTRUCCIONES</a></li>
  <li class="navitem"><a href=""></a></li>
  
  <ng-container *ngIf="!auth.loggedIn(); else cerrarSesion">
    <li class="navitem inicio"><a routerLink="/inicio-sesion">INICIO S.</a></li>
    <li class="navitem inicio"><a routerLink="/registro">REGISTRO</a></li>
  </ng-container>

  <ng-template #cerrarSesion>
    <li class="navitem inicio"><a (click)="cerrar()">CERRAR S.</a></li>
  </ng-template>
  <br>

     
</ul>
